/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/
/*--------------------------//  responsive   //-----------------------------*/
/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

    /*-- Header Start --*/

    /*--  Header End  --*/
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)  {
    nav.navbar.navbar-default {
        position: absolute;
        bottom: 0;
        margin: 0;
        border: 0;
        border-radius: 0;
        background: transparent;
    }

    .navbar-default .navbar-nav>li>a {
        margin: 10px 10px;
        border-radius: 50%;
        height: 84px;
        width: 84px;
        text-align: center;
        line-height: 4;
        color: #fff;
        font-weight: 600;
        font-style: italic;
        font-size: 14px;
        margin: 3px auto;
        background: #313131;
    }

    .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
        color: #FFF;
        background-color: transparent;
    }

    .navbar-nav>li {
        border-radius: 50%;
        width: 90px;
        height: 90px;
        margin: 5px 5px;
    }

    .nav-active {
        background: #d13181;
        background: -moz-linear-gradient(left, #d13181 0%, #af5096 21%, #916ba7 39%, #6c8ebe 58%, #0ee3f6 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, #d13181), color-stop(21%, #af5096), color-stop(39%, #916ba7), color-stop(58%, #6c8ebe), color-stop(100%, #0ee3f6));
        background: -webkit-linear-gradient(left, #d13181 0%, #af5096 21%, #916ba7 39%, #6c8ebe 58%, #0ee3f6 100%);
        background: -o-linear-gradient(left, #d13181 0%, #af5096 21%, #916ba7 39%, #6c8ebe 58%, #0ee3f6 100%);
        background: -ms-linear-gradient(left, #d13181 0%, #af5096 21%, #916ba7 39%, #6c8ebe 58%, #0ee3f6 100%);
        background: linear-gradient(to right, #d13181 0%, #af5096 21%, #916ba7 39%, #6c8ebe 58%, #0ee3f6 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d13181', endColorstr='#0ee3f6', GradientType=1 );
    }

}


