/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/
/*--------------------------//  Start Style  //-----------------------------*/
/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/

/*---------------------------*/
/*------- FontsStart --------*/
/*---------------------------*/
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,700italic,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);


/*---------------------------*/
/*-------- BodyStart --------*/
/*---------------------------*/

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    height: 100%;
    font-weight: bold;
}

/*---------------------------*/
/*--------- BodyEnd ---------*/
/*---------------------------*/



/*---------------------------*/
/*---- Header Area Start ----*/
/*---------------------------*/

.header {
    position: relative;
    overflow: hidden;
    height: 100%;
    background: url("../imges/Bike2.jpg");
    background-size: cover;
}

.logo {
    padding: 20px;
    min-height: 90px;
    max-height: 125px;
    margin-left: 40px;
}




/*-- Navigation start --*/


/*-- Navigation end --*/




/*---------------------------*/
/*----- Header Area End -----*/
/*---------------------------*/




/* About */

.background {
    background: #af5096;
    background: -moz-linear-gradient(top, #af5096 0%, #af5096 16%, #d13181 85%, #d13181 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #af5096), color-stop(16%, #af5096), color-stop(85%, #d13181), color-stop(100%, #d13181));
    background: -webkit-linear-gradient(top, #af5096 0%, #af5096 16%, #d13181 85%, #d13181 100%);
    background: -o-linear-gradient(top, #af5096 0%, #af5096 16%, #d13181 85%, #d13181 100%);
    background: -ms-linear-gradient(top, #af5096 0%, #af5096 16%, #d13181 85%, #d13181 100%);
    background: linear-gradient(to bottom, #af5096 0%, #af5096 16%, #d13181 85%, #d13181 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#af5096', endColorstr='#d13181', GradientType=0 );
    padding: 65px;
    color: #fff;
    font-size: 18px;
    overflow: hidden
}

.background2 {
    background: #362a83;
    background: -moz-linear-gradient(top, #362a83 0%, #572181 31%, #d13181 80%, #d13181 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #362a83), color-stop(31%, #572181), color-stop(80%, #d13181), color-stop(100%, #d13181));
    background: -webkit-linear-gradient(top, #362a83 0%, #572181 31%, #d13181 80%, #d13181 100%);
    background: -o-linear-gradient(top, #362a83 0%, #572181 31%, #d13181 80%, #d13181 100%);
    background: -ms-linear-gradient(top, #362a83 0%, #572181 31%, #d13181 80%, #d13181 100%);
    background: linear-gradient(to bottom, #362a83 0%, #572181 31%, #d13181 80%, #d13181 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#362a83', endColorstr='#d13181', GradientType=0 );
    padding: 50px 65px;
    color: #fff;
    font-size: 18px;
    overflow: hidden;
}

p.about {
    width: 85%;
}

section#safty h2, section#features h2, #acc h2 {
    font-family: "Oswald";
    font-size: 35px;
    padding-bottom: 15px;
    border-bottom: 3px solid #16E6F5;
    font-style: italic;
}

section#features h2 span {
    font-weight: lighter;
    font-size: 16px;
    line-height: 3;
    font-style: normal;
    color: #d6d6d6;
    font-weight: 300;
    padding-left: 20px
}

section#features ul {
    list-style: none;
}

section#features ul li {
    display: inline-block;
    margin: 27px 10px 0;
    text-align: center;
}

section#features ul li img {
    display: block;
    width: 70%;
    margin: auto
}

section#safty ul li img, #acc li img {
    max-width: 50px;
}


section#safty ul {
    list-style: none;
}

section#safty ul li, #acc ul li {
    margin: 5px auto;
    font-style: italic;
    font-size: 22px;
}

#speces h2 {
    font-family: "Oswald";
    font-size: 35px;
    padding-bottom: 15px;
    font-style: italic;
    margin-bottom: 20px
}

.box-spec {
    overflow: hidden;
}

.box-spec {
    overflow: hidden;
    padding: 12px 0;
    border-top: 3px solid #16E6F5;
}

.padding-0 {
    padding: 0
}
#features, #speces, #acc, #safty {
    overflow: hidden;
    display: none
}

section.imgs-box img {
    width: 100%;
}

.nav .active {
    background: transparent;
}
